:root {
  --theme-background-color: #F4BFDA;
}
html:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1000;
  background-color: #F4BFDA;
}
:root {
  --theme-icon-border-radius: 7px;
  --theme-icon-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.12));
  --theme-text-color: #34302C;
  --theme-path-background-color: rgba(255, 255, 255, 0.2);
  --theme-path-border-bottom: none;
  --theme-dock-background-color: rgba(255, 255, 255, 0.3);
  --theme-dock-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01);
  --theme-scrollbar-thumb-background-color: rgba(255, 255, 255, 0.4);
  --theme-scrollbar-thumb-background-color-hover: rgba(255, 255, 255, 0.75);
  --theme-overlay-color: rgba(255, 255, 255, 0.22);
  --theme-overlay-color-input: rgba(255, 255, 255, 0.35);
  --theme-overlay-color-selected: rgba(255, 255, 255, 0.35);
  --theme-overlay-color-hover: rgba(255, 255, 255, 0.15);
  --theme-overlay-color-border: rgba(0, 0, 0, 0.035);
}
:root {
  --theme-icon-folder-color: #ffffff;
  --theme-icon-folder-background-color: #cb3e99;
  --theme-icon-folder-background-color2: #ffffff;
  --theme-icon-bookmarks-color: #ffffff;
  --theme-icon-bookmarks-background-color: #cb3e99;
  --theme-icon-bookmarks-background-color2: #ffffff;
  --theme-icon-history-color: #ffffff;
  --theme-icon-history-background-color: #cb3e99;
  --theme-icon-history-background-color2: #ffffff;
  --theme-icon-downloads-color: #ffffff;
  --theme-icon-downloads-background-color: #cb3e99;
  --theme-icon-downloads-background-color2: #ffffff;
  --theme-icon-settings-color: #ffffff;
  --theme-icon-settings-background-color: #cb3e99;
  --theme-icon-settings-background-color2: #ffffff;
  --theme-icon-extensions-color: #ffffff;
  --theme-icon-extensions-background-color: #cb3e99;
  --theme-icon-extensions-background-color2: #ffffff;
  --theme-icon-apps-color: #ffffff;
  --theme-icon-apps-background-color: #cb3e99;
  --theme-icon-apps-background-color2: #ffffff;
  --theme-icon-games-color: #ffffff;
  --theme-icon-games-background-color: #cb3e99;
  --theme-icon-games-background-color2: #ffffff;
  --theme-icon-news-color: #ffffff;
  --theme-icon-news-background-color: #cb3e99;
  --theme-icon-news-background-color2: #ffffff;
  --theme-icon-chrome-color: #ffffff;
  --theme-icon-chrome-background-color: #cb3e99;
  --theme-icon-chrome-background-color2: #ffffff;
}
