:root {
  --theme-background-color: white;
}
html:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1000;
  background-color: white;
}
:root {
  --theme-icon-border-radius: 0px;
  --theme-icon-filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.2));
  --theme-text-color: #EBEBEC;
  --theme-path-border-bottom: 1px solid rgba(235, 235, 236, 0.3);
  --theme-dock-background-color: rgba(0, 0, 0, 0.2);
  --theme-dock-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01);
  --theme-path-background-color: transparent;
  --theme-scrollbar-thumb-background-color: rgba(0, 0, 0, 0.2);
  --theme-scrollbar-thumb-background-color-hover: rgba(0, 0, 0, 0.4);
  --clock-analog-2-hands-color: #1D1F26;
  --clock-analog-2-hands-inner-color: #EBEBEC;
  --theme-overlay-color: rgba(255, 255, 255, 0.06);
  --theme-overlay-color-input: rgba(255, 255, 255, 0.125);
  --theme-overlay-color-selected: rgba(255, 255, 255, 0.125);
  --theme-overlay-color-hover: rgba(255, 255, 255, 0.035);
  --theme-overlay-color-border: rgba(255, 255, 255, 0.075);
}
:root {
  --theme-icon-folder-color: #ffffff;
  --theme-icon-folder-background-color: #bb542f;
  --theme-icon-folder-shadow-color: rgba(0, 0, 0, 0.1);
  --theme-icon-bookmarks-color: #ffffff;
  --theme-icon-bookmarks-background-color: #c2a154;
  --theme-icon-bookmarks-shadow-color: rgba(0, 0, 0, 0.1);
  --theme-icon-history-color: #ffffff;
  --theme-icon-history-background-color: #648169;
  --theme-icon-history-shadow-color: rgba(0, 0, 0, 0.1);
  --theme-icon-downloads-color: #ffffff;
  --theme-icon-downloads-background-color: #64909b;
  --theme-icon-downloads-shadow-color: rgba(0, 0, 0, 0.1);
  --theme-icon-settings-color: #ffffff;
  --theme-icon-settings-background-color: #867e5a;
  --theme-icon-settings-shadow-color: rgba(0, 0, 0, 0.1);
  --theme-icon-extensions-color: #ffffff;
  --theme-icon-extensions-background-color: #884a3b;
  --theme-icon-extensions-shadow-color: rgba(0, 0, 0, 0.1);
  --theme-icon-apps-color: #ffffff;
  --theme-icon-apps-background-color: #6f5569;
  --theme-icon-apps-shadow-color: rgba(0, 0, 0, 0.1);
  --theme-icon-games-color: #ffffff;
  --theme-icon-games-background-color: #326571;
  --theme-icon-games-shadow-color: rgba(0, 0, 0, 0.1);
  --theme-icon-news-color: #ffffff;
  --theme-icon-news-background-color: #826a45;
  --theme-icon-news-shadow-color: rgba(0, 0, 0, 0.1);
  --theme-icon-chrome-color: #ffffff;
  --theme-icon-chrome-background-color: #827b6d;
  --theme-icon-chrome-shadow-color: rgba(0, 0, 0, 0.1);
}
