:root {
  --theme-background-color: #ffffff;
}
html:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1000;
  background-color: #ffffff;
}
:root {
  --theme-icon-border-radius: 6px;
  --theme-icon-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
  --theme-text-color: #294A70;
  --theme-path-border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  --theme-dock-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01);
  --theme-scrollbar-thumb-background-color: rgba(31, 56, 84, 0.07);
  --theme-scrollbar-thumb-background-color-hover: rgba(31, 56, 84, 0.2);
  --theme-overlay-color: rgba(31, 56, 84, 0.03);
  --theme-overlay-color-input: rgba(31, 56, 84, 0.07);
  --theme-overlay-color-selected: rgba(31, 56, 84, 0.07);
  --theme-overlay-color-hover: rgba(31, 56, 84, 0.03);
  --theme-overlay-color-border: rgba(31, 56, 84, 0.07);
}
:root {
  --theme-dock-background-color: rgba(255, 255, 255, 0.2);
}
:root {
  --theme-icon-folder-color: #ffffff;
  --theme-icon-folder-background-color: #4792E6;
  --theme-icon-folder-shadow-color: rgba(0, 0, 0, 0.05);
  --theme-icon-bookmarks-color: #ffffff;
  --theme-icon-bookmarks-background-color: #4792E6;
  --theme-icon-bookmarks-shadow-color: rgba(0, 0, 0, 0.05);
  --theme-icon-history-color: #ffffff;
  --theme-icon-history-background-color: #4792E6;
  --theme-icon-history-shadow-color: rgba(0, 0, 0, 0.05);
  --theme-icon-downloads-color: #ffffff;
  --theme-icon-downloads-background-color: #4792E6;
  --theme-icon-downloads-shadow-color: rgba(0, 0, 0, 0.05);
  --theme-icon-settings-color: #ffffff;
  --theme-icon-settings-background-color: #4792E6;
  --theme-icon-settings-shadow-color: rgba(0, 0, 0, 0.05);
  --theme-icon-extensions-color: #ffffff;
  --theme-icon-extensions-background-color: #4792E6;
  --theme-icon-extensions-shadow-color: rgba(0, 0, 0, 0.05);
  --theme-icon-apps-color: #ffffff;
  --theme-icon-apps-background-color: #4792E6;
  --theme-icon-apps-shadow-color: rgba(0, 0, 0, 0.05);
  --theme-icon-games-color: #ffffff;
  --theme-icon-games-background-color: #4792E6;
  --theme-icon-games-shadow-color: rgba(0, 0, 0, 0.05);
  --theme-icon-news-color: #ffffff;
  --theme-icon-news-background-color: #4792E6;
  --theme-icon-news-shadow-color: rgba(0, 0, 0, 0.05);
  --theme-icon-chrome-color: #ffffff;
  --theme-icon-chrome-background-color: #4792E6;
  --theme-icon-chrome-shadow-color: rgba(0, 0, 0, 0.05);
}
